# This is a basic workflow to help you get started with Actions

name: Update data

on:
  schedule:
    - cron: "5,35 0,1,2,3,8,9,10,11 * * *" # 5,35 7,8,9,10,15,16,17,18 * * * in ICT

  workflow_dispatch: {}

jobs:
  cron:
    name: "Update data"

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Go environment
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17

      - name: Run cron/main.go
        run: go run cron/main.go

      - name: Commit new JSON data
        continue-on-error: true
        run: |
          git config user.email "xerodotc@users.noreply.github.com"
          git config user.name "github-actions"
          git add ./data/waterlevel.json
          git commit -m "update waterlevel.json @ $(TZ=Asia/Bangkok date)"
          git push origin main
